.layout {
  display: flex;
  flex-direction: column;
}

.layout button {
  border: none;
  text-align: start;
}

.border {
  border: 1px solid var(--border);
  height: 2px;
}

.layout button:not(:disabled):hover {
  outline: 2px solid var(--highlight);
  z-index: 100;
}

.title {
  text-align: center;
  padding: 5px;
  color: var(--highlight);
}

.category {
  padding-left: 4px;
  color: var(--highlight);
  text-decoration: underline;
}
