.createSprite {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spriteCanvas {
    width: 500px;
    height: 400px;
    border: 1px solid black;
}