.modal {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 600px;
  height: 450px;
  gap: 12px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.header {
  display: flex;
}

.previews {
  flex: 1;
  min-height: 0;
  background-color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.openButton {
  width: 50px;
}
