.toolButton {
  background-color: var(--bth-bg);
  font-family: 'DePixel';
  font-weight: 400px;
  padding: 5px;
  border: 3px solid var(--border) !important;
}

.toolButton:hover {
  background-color: var(--bth-bg-hover);
}

.toolButton[aria-pressed='true'] {
  border: 3px solid var(--border) !important;
  outline: 3px solid var(--highlight);
  background-color: var(--btn-bg);
}

.icon {
  width: 64px;
  height: 64px;
  display: block;
  object-fit: contain;
  image-rendering: pixelated;
  filter: var(--invert-icon-color);
}
