.changeCanvasSizeContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputInput {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.confirmButton {
  background-color: var(--foreground);
  color: var(--background);
}
