.mainPage {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin: 0 auto;
}

.mainPage::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;

  /* same width + centering as your main content */
  width: 60vw;
  left: 50%;
  transform: translateX(-50%);

  /* only vertical borders = two pillars */
  border-left: 2px solid var(--border);
  border-right: 2px solid var(--border);

  pointer-events: none; /* so it doesn't block clicks/scroll */
  z-index: 9999;
}

.treeContainer {
  border: 2px solid var(--border);
  margin: 20px;
  padding: 40px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  flex-shrink: 0;
}

.frontpageList {
  margin-left: 30px;
}

.breakRowLine {
  border: 1px solid var(--highlight);
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px;
  box-shadow: 0 0 2px rgba(84, 254, 58, 0.5), 0 0 8px rgba(84, 254, 58, 0.3),
    0 0 16px rgba(84, 254, 58, 0.15);
}
.header {
  margin-top: 25px;
}

.underLine {
  text-decoration: underline;
}

.footer {
  padding-bottom: 30px;
}

.videoContainerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.createPixelButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.createPixelButton {
  padding: 15px;
  font-size: 25;
  width: 200px;
  margin-top: 10px;
}
