.toolContainer {
  border: 1px solid gray;
  margin: 10px;
}
.toolsHeader {
  text-align: center;
  padding: 5px;
  text-decoration: underline;
}

.toolIconContainer {
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.toolIconRow {
  gap: 8px;
  display: flex;
  flex-direction: row;
}
