.modalWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #88888860;
}

.modalContainer {
  border: 3px solid var(--border);
  background-color: var(--background);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid var(--border);
  color: var(--background);
  background-color: var(--foreground);
}

.headerText {
  padding: 6px;
  width: 100%;
  text-align: center;
}

.closeButton {
  border: none;
  width: 35px;
  max-width: 35px;
  height: 30px;
  text-align: center;
  color: var(--background);
  background-color: var(--foreground);
  border-left: 3px solid var(--border);
}
.closeButton:hover {
  cursor: pointer;
  background-color: var(--btn-fg-hover);
}
