.modalWrapper {
  position: fixed; /* cover viewport */
  inset: 0;
  display: block; /* no flex squish */
  pointer-events: none; /* clicks pass through wrapper */
}

.modalContainer {
  position: absolute; /* we move with left/top */
  pointer-events: all;
  border: 3px solid var(--border);
  background-color: var(--background);
  height: fit-content;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid var(--border);
  color: var(--background);
  background-color: var(--foreground);
  user-select: none; /* prevent text selection while dragging */
}

.headerTextContainer {
  width: 100%;
  cursor: grab;
}

.headerText {
  padding: 6px;
  width: 100%;
  text-align: center;
  font-size: large;
  pointer-events: none;
}

.closeButton {
  border: none;
  width: 35px;
  max-width: 35px;
  height: 30px;
  text-align: center;
  color: var(--background);
  background-color: var(--foreground);
  border-left: 3px solid var(--border);
}
.closeButton:hover {
  cursor: pointer;
  background-color: var(--btn-fg-hover);
}
