.card {
}

.image {
  width: 128px;
  height: 128px;
  border: 2px solid var(--border);
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.checkerBackground {
  background-color: #ffffff;
  background-image:
    linear-gradient(45deg, #dddddd 25%, transparent 25%),
    linear-gradient(-45deg, #dddddd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #dddddd 75%),
    linear-gradient(-45deg, transparent 75%, #dddddd 75%);
  background-size: 16px 16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
}

.projectTitle {
  max-width: 124px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
