.colorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.colorContainer {
  width: 130px;
  height: 130px;
  display: flex;
  position: relative;
}

.secondaryColor {
  width: 70px;
  height: 70px;
  border: 3px solid var(--border);
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.primaryColor {
  width: 70px;
  height: 70px;
  border: 3px solid var(--border);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.flipButton {
  height: 40px;
  width: 40px;
  bottom: 0;
  left: 0;
  position: absolute;
  background: none;
}

.flipButton:hover {
  background: var(--btn-bg-hover);
}
